table,
td {
  border: 1px solid #777;
  padding: 10px;
}

th {
  padding: 10px;
}

thead,
tfoot {
  background-color: #777;
  color: #fff;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px 10px;
}

.form-element {
}

.todo-container {
  padding: 30px;
  display: flex;
}
