<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" 
    href="./css/style.css">
    <script type="module" defer src="./js/script.js"></script>
</head>
<body>
  <div class="container">
      <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="./add">Add New User</a></li>
        <li><a class="main-nav-link" href="./edit">Edit User</a></li>
        <li>
          <a class="main-nav-link" href="./showAll">Show All Users</a>
        </li>
        <li><a class="main-nav-link" href="./showSingle">Show User</a></li>
      </ul>
 </nav>
 <br>
 <br>
 <br>
