<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink=""
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-primary"
            [routerLink]="['users', 'add']"
            >Add User</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-primary"
            routerLink="users/edit"
            >Edit User</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="text-primary" routerLink="posts"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-primary"
            routerLink="gallery"
            >Gallery</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="text-primary"
            routerLink="contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
