{{>header}}
{{>navbar}}
<section class="my-5 container">
 <form method="POST">
  <div class="mb-3">
    <input class="form-control" type="text" name="title" placeholder="Title..">
  </div>
    <div class="mb-3">
    <input class="form-control" type="text" name="content" placeholder="Content..">
  </div>
    <div class="mb-3">
    <input class="form-control" type="date" name="dueDate" placeholder="Due Date..">
  </div>
    <div class="mb-3">
    <input class="form-control btn btn-primary" type="submit" value="Add">
  </div>
 </form>
</section>
{{>footer}}
