{{>header}}
{{>navbar}}
<section class="container">
  <div class="alert alert-danger d-flex flex-column align-items-center">
    <div class="mb-3">{{err}}</div>
    <a href="/" class="btn btn-danger p-2">Home</a>
  </div>
</section>
{{>footer}}
